- featured = "https://unsplash.it/600/400/?random"

.container
  .blog-posts 
    .post.featured
      %a{"href"=>"#"}
        .image{"style"=>"background-image: url(#{featured})"}
          .time
            .date 04
            .month APR
        .content  
          %h1 Multiply created make behold fourth yielding living male very god.
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas illo tempore at eveniet adipisci harum error deserunt in sint aspernatur magni asperiores explicabo corporis ratione praesentium illum magnam esse ipsa dignissimos quaerat perferendis dolor vero? Maiores hic modi optio eaque...
          .meta
            .icon-comment 22 Comments
            %ul.tags
              %li
              %li
    - (1..3).each do |i|
      .row.cf
        - (1..rand(2) + 2).each do |j|
          .post
            %a{"href"=>"#"}
              .image
                .time
                  .date
                    = rand(30) + 1
                  .month MAR
              .content  
                %h1 Man called gathering us great subdue unto herb sixth forth.
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam a nostrum nihil nulla hic laborum illum...
                .meta
                  .icon-comment 22 Comments
                  %ul.tags
                    %li
                    %li